* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
li {
  list-style: none;
  color: #fff;
}
.viewport {
  height: 320px;
  width: 480px;
  margin: 30px auto;
  position: relative;
  background: transparent;
  overflow: hidden;
}
.icon {
  width: 40px;
  height: 40px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon:hover {
  background: #ccc;
  opacity: 0.8;
}
#icon-left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
#icon-right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.button {
  width: 250px;
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.button .btn {
  height: 8px;
  width: 30px;
  background: tranparent;
  border: 1px solid white;
  border-radius: 5px;
  flex: 1;
  margin: 10px;
  cursor: pointer;
}
.button .btn:hover {
  background: #ccc;
  opacity: 0.8;
}
.button:after {
  content: '';
  display: block;
  clear: both;
}
.carousel {
  position: absolute;
  z-index: -1;
}
.carousel .item {
  height: 320px;
  float: left;
}
.carousel:after {
  content: '';
  display: block;
  clear: both;
}
.carousel .item img {
  width: 480px;
  height: 320px
} 
.active {
  background: #ccc;
  opacity: 0.8;
}